/**
 * @author  ( Angie Radtke  )
 * @package Joomla
 * @subpackage Accessible-Template-Beez
 * @copyright Copyright (C) 2005 - 2009 Open Source Matters. All rights reserved.
 * @license GNU/GPL, see LICENSE.php
 * Joomla! is free software. This version may have been modified pursuant to the
 * GNU General Public License, and as distributed it includes or is derivative
 * of works licensed under the GNU General Public License or other free or open
 * source software licenses. See COPYRIGHT.php for copyright notices and
 * details.
 */

/* not ready */



h4{
	font-size:1em;
}

fieldset
{
        margin:10px 0 ;
        padding:15px;
        border:solid 1px
}



em {font-weight:bold;}

/* ##########################  header content  ########################### */

#header form
{

}







/* ##########################  fontsize  ########################### */

#fontsize
{
    padding:0;
    margin:0 20px 0 1px;
    text-align:right;
    margin-bottom:0px;
    float:none;


}

#fontsize h3
{
    padding-right:0;
    font-weight:normal;
    display:inline;
    font-size:1em;

        margin:0
}

#fontsize p
{
    margin:0 0 0 2px;
        padding:0;
    display:inline;
    font-size:1em;


}

#fontsize p a
{
    margin:0 2px;
    display:inline;
    padding:0px 5px;
}


/* ##########################  breadcrumbs  ########################### */

#breadcrumbs
{
        padding:0 0 0 0px;
        text-align:left;
        margin:15px 20px 15px 0px;
        font-size:0.85em
}

#breadcrumbs p
{
        padding:5px;
        display:inline;
}

#breadcrumbs span
{
        padding:0px;
}

#breadcrumbs span a:link,
#breadcrumbs span a:visited
{
        text-transform:none;
        font-weight:normal
}

#breadcrumbs span a:hover,
#breadcrumbs span a:active,
#breadcrumbs span a:focus
{
        text-decoration:none;
}


/* ##########################  navigation column  ########################### */

#nav ul
{
        list-style-type:none;
        margin:0px 0;
}
#content .search {



}

.pagination .pagination ul { overflow:hidden; list-style:none;}
.pagination .pagination ul li { color:#000; text-align:center; font:bold 12px/20px Arial, Helvetica, sans-serif; text-transform:uppercase; float:left; background:none; padding:4px 10px 4px 10px; border:1px solid #e5e5e5; margin:0; margin-left:8px;}

.pagination .pagination ul li a {color:#f60101; display:block;}
.pagination .pagination ul li a:hover {color:#000; text-decoration:none;}

.module_content
{
        margin:0px 0 0px 0;
        padding:0px 0px 10px 5px
}

.moduletable {
	margin:0px 0 0px 0;
	padding:0px;
	}

.moduletable_menu
{
        margin:0px 0 23px 0;
}

.moduletable_js
{
        margin-bottom:5px;
}

#nav h3.js_heading,
#right h3.js_heading
{
        position:relative;
        display:block;
        padding:5px 0px 0 0px ;
        margin:0px ;
        font-size:1.40em;
}

h3.js_heading span.backh
{
        padding:4px 0px 0px 10px;
        display:block;
}

h3.js_heading span.backh1
{
        padding:0px 20px 8px 0px;
        display:block;
}

h3.js_heading a
{
        display:block;
        position:absolute ;
        right:0px ;
        top:0px;
        padding:5px 5px 0 0;
        text-decoration:none;
}

.no {font-size:1px;}

#nav h3 {
	font-size:1.4em;
	margin:5px 0 6px 0;
	font-weight:normal;
	line-height:1.19em
	}


#nav h3 span.backh3 {
	padding:0px 0px 5px 2px;
	display:block;
	}




/* ##########################  main  ########################### */

/* ++++++++++++++  main general  ++++++++++++++ */

#main h1
{

        padding: 5px;
        font-size:1.4em;
        line-height:1.19em;
        font-weight:normal;
        margin:0 -5px 10px -5px

}

#main h2
{
        font-size:1.6em;
        font-weight:normal;
        margin-bottom:10px;
        padding:3px 0px;
}

#main h2 a
{
        text-decoration:none;
}

#main h3
{
        margin:20px 0 10px;
}




/* h1 on frontpage and blog view */

#main .blog-featured h1,
#main .blog h1
{

        margin:0 0px 10px 0px
}


.blog .category-desc
{
        padding:0 5px;
        margin:10px 0 25px
}

.blog .cat-children .category-desc
{
        padding:0 0px;
        margin:10px 0 25px
}


#main .items-row h2
{
        font-weight:normal;
        padding:5px 2px 5px 2px;
        font-size:1.4em
}
#main ul.subcategories
{
        margin:20px 20px 20px 10px
}
#main .subcategories-link
{
        font-weight:bold
}

#main ul
{
        list-style-position:outside;
        list-style-type:square;
        padding:0 0 0 15px;
        margin:10px 0 10px 0px;
}

#main ol
{
        padding:0 0 0 20px;
        margin:10px 0 10px 0px;
                list-style-position:outside
}

#main ul li,
#main ol li
{
        padding:0;
        line-height:1.7em;
        margin: 0;
}

#main .category-list
{
        padding:0 5px;
        display:block;
}

#main .category-list h1
{
        margin-left:-5px;
        margin-right:-5px;
}



#main .categories-list ul
{
        margin:0px 0 0 20px;
        padding:0
}

#main .categories-list ul li
{
        padding: 5px;
}

#main .categories-list ul ul
{
        margin-left:15px
}

.category-desc
{
        line-height:1.7em;
        margin:10px 0;
        padding-left:0px
}

.small
{
        font-size:11px;
        margin:0;
		color:#151515;
}

.image-left
{
        float:left;
        margin:0 15px 5px 0;


}

.image-right
{
        float:right;
        margin:0 0 5px 15px
}

.archive
{
        padding:0 5px
}

.archive form
{
        padding:0 5px
}

ul#archive-items
{
        margin:20px 0 20px 0px;
        list-style-type:none;
        padding:0
}

ul#archive-items li.row0,
ul#archive-items li.row1
{
        padding:10px 0;
        margin:10px 0;
}

/* ++++++++++++++  columns  ++++++++++++++ */

.cols-4 .column-1 {
	width:220px;
	float:left;
	margin-right:19px;
	}

.cols-4 .column-2 {
	width:220px;
	float:left;
	margin-right:19px;
	}

.cols-4 .column-3
{
       width:220px;
	float:left;
	margin-right:19px;
}

.cols-4 .column-4
{
       width:220px;
	float:left;
	margin-left:0;
}

/* ++++++++++++++  top  ++++++++++++++ */

#top h2
{
        font-size:1.4em;
        font-weight:normal
}

/* ++++++++++++++  leading  ++++++++++++++ */

#main .items-leading h2
{
        font-size:1.4em;
        font-weight:normal;
        padding:5px 0px
}


/* ++++++++++++++  details  ++++++++++++++ */

.article-info
{
        margin:0 0 27px 0;
        font-size:12px;
}

.article-info-term
{
        display:none
}

dt.category-name,
dt.create,
dt.modified,
dt.createdby
{
        float:left;
        padding-right:5px;
}

.archive .article-info dd,
.article-info dd
{
        margin:2px 0 0px 0;
        line-height:1.2em
}

dd.createdby
{

}

.article-info dd span
{
    text-transform:none;
    display:inline-block;
    padding:0 5px 0 0px;
    margin:0 10px 0 0px;
}

/* ++++++++++++++  icons  ++++++++++++++ */

/* ++++++++++++++  icons  ++++++++++++++ */

#main ul.actions
{
        text-align:right;
        padding:0 ;
        width:100%;
        margin:0
}

#main ul.actions li
{
        display:inline
}

#main ul.actions a
{
        text-decoration:none
}

/* ++++++++++++++  items more  ++++++++++++++ */

#main .items-more
{
        padding-top:10px;
}

#main .items-more h3
{
        font-weight:normal;
        margin:0;
        padding:5px 5px 5px 5px;
        font-size:1.4em
}

#main .items-more ol
{
        line-height:1.3em;
        list-style-type:none;
        margin:0;
        padding:10px 0 10px 2px;
}

#main .items-more ol li
{
        padding:2px;
}

#main .items-more ol li a
{
        display:inline;
        margin:0;
        font-weight:normal;
        padding:5px 5px 5px 20px;
}

#main .items-more ol li a:hover,
#main .items-more ol li a:active,
#main .items-more ol li a:focus
{
        font-weight:normal;
        padding:5px 5px 5px 20px;
        text-decoration:none
}


/* ++++++++++++++  pagination  ++++++++++++++ */

#main .pagination
{
        margin:10px 0 ;
        padding:10px 0 10px 0px;

}

#main .pagination ul
{
        list-style-type:none;
        margin:0;
        padding:0;
        text-align:left;
}

#main .pagination li
{
        display:inline;
        padding:2px 5px;
        text-align:left;
        border:solid 0px #eee;
        margin:0 2px
}

.pagenav
{padding:2px}

#main .pagination li.pagination-start,
#main .pagination li.pagination-next,
#main .pagination li.pagination-end,
#main .pagination li.pagination-prev
{border:0}

#main .pagination li.pagination-start ,
#main .pagination li.pagination-start  span
 {
padding:0

}
p.counter
{
        font-weight:bold;
}


/* ##########################  right  ########################### */



#right h3 span.backh
{
        padding:0px 0px 0px 0;
        display:block;
}

#right h3 span.backh2
{
        display:block;
}

#right h3 span.backh3
{
        padding:0px 0px 5px 0px;
        display:block;
}

#right h3.js_heading span.backh
{
        padding:0px 0 0 10px
}

#right h4
{
        font-size:1em;
        padding:10px 5px 0 0;
        margin:0;
}

#right ul
{

    list-style-type:none;
    margin:10px 0;
    padding:5px 0 0 0px;
    position:relative;
}
#right ul.categories-module ul
{margin: 15px 0 15px 10px}
#right ul li
{

}

#right ul li a
{

}

#right ul.category-module
{
        margin-top:0;
        padding-top:0
}



/*  ####################   forms   #####################  */

#member-registration
{
        padding:0 5px
}
#member-registration fieldset
{

}

form fieldset dt
{
        padding:10px 0 0px 0;
		color:#333;
}

form fieldset dd
{
        padding:2px 0 0px 0;
}

/* ########################## search ############################ */
.searchintro
{
        font-weight:normal;
        margin:20px 0 20px;
}

#searchForm
{
        padding:20px;
		background:#f9f9f9;
		border:1px solid #c4c4c4;
		border-radius:6px;
}

.form-limit
{
        margin:20px 0 0;
        text-align:right;
        padding:0 10px 0 20px;
}

.inputbox:focus
{

}

.highlight
{
        font-weight:bold;
}

.ordering-box
{
        width:40%;
        float:right;
}
.phrases-box input, .phrases-box label {float:left; line-height:12px; *line-height:20px; line-height:13px \0/;}
.only input, .only label {float:left; line-height:12px; *line-height:20px; line-height:13px \0/;}
.phrases-box input, .only input {margin-right:5px;}
.phrases-box
{
        width:60%;
        float:left
}

.only,
.phrases
{
        margin:10px 0 20px 0px;
        padding:15px 0 0 0 ;
        line-height:1.3em;
}
.only legend,
.phrases legend
{font-size:16px; color:#151515; line-height:16px; *padding-bottom:10px; padding-bottom:10px \0/;}
label.ordering
{
        display:block;
        margin:10px 0 10px 0
}

.word
{
        padding:10px 0px 10px 0px;
}

.word label { float:left; vertical-align:middle; display:inline-block; padding-top:10px; padding-right:5px;}

#user_html0-lbl {padding-right:5px;}
fieldset.only label,
fieldset.phrases label
{
    margin:0 10px 0 0px
}

.ordering-box label.ordering
{
    margin:0 10px 5px 0;
    float:left
}


form .search label
{
        display:none
}

.search legend
{font-weight:bold}
/* ++++++++++++++  selects  ++++++++++++++ */
.phrases .inputbox
{
        width:10em;
}

.phrases .inputbox option
{
        padding:2px;
}


/* ++++++++++++++  search results  ++++++++++++++++++ */

dl.search-results
{

}

dl.search-results dt.result-title
{
        padding:25px 15px 10px 5px;
        font-weight:bold;
}

dl.search-results dd
{
        padding:2px 15px 2px 5px
}

dl.search-results dd.result-text
{
        padding:10px 15px 10px 5px;
        line-height:1.7em
}

dl.search-results dd.result-created
{
        padding:2px 15px 15px 5px
}

dl.search-results dd.result-category
{
	overflow:hidden;

}

/* ########################### contacts ########################### */

.contact
{
	
}

.contact-category
{
        padding:0 10px
}

.contact-category  #adminForm fieldset.filters
{
	border:0;
	padding:0
}

.contact-image
{
	margin:10px 0;
	overflow:hidden;
}

.contact-image img
{
/* as you like
float:right;
float:left */
}


address
{
        font-style:normal;
        margin:10px 0;
        
}

address span
{
        display:block
}

.contact-address

{
margin:0px 0 10px 0;


}
.contact-contactinfo {margin:0px 0 10px 0;}



.contact-email div
{
        
        margin:0 0 10px 0;
		
}

.contact-email label
{
display:block;


}
span.contact-image
{
    margin-bottom:10px;
    overflow:hidden;
    display:block
}
#contact-textmsg
{padding: 2px 0 3px 0}

#contact-email-copy
{
        float:left;
        margin-right:10px;
		margin-top:2px;
		*margin-top:0px;

}

.contact .button
{
        float:none !important;
        clear:left;
        display:block;
        margin:0px 0 0 0
}




/* ##########################  user profile  ########################### */

#users-profile-core,
#users-profile-custom
{
        margin:10px 0 15px 0;
        padding:15px;
}

#users-profile-core dt,
#users-profile-custom dt
{
        float:left;
        width:12em;
        padding:3px 0;
 
   
}

#users-profile-core dd,
#users-profile-custom dd
{
        padding:3px 0;
      
}

#member-profile fieldset,
.registration fieldset
{
        margin:10px 0 30px 0;
        padding:0px;
        
}

#users-profile-core legend,
#users-profile-custom legend,
.profile-edit legend,
.registration legend
{
		
}

.profile-edit form#member-profile fieldset dd,
.registration form#member-registration fieldset dd
{ float:none; padding:0px 0}

.profile-edit form#member-profile fieldset dd input,
.profile-edit form#member-profile fieldset dd select,
.registration form#member-registration fieldset dd input
{width:240px;}
.profile-edit form#member-profile fieldset dt,
.registration form#member-registration fieldset dt
{padding:10px 5px 0px 0; width:13em}


span.optional
{font-size:0.9em}
/*#################### tables ############################ */

table
{
        border-collapse:collapse
}

table.weblinks,
table.category

{
        font-size:1em;
        margin:10px 10px 20px 0px;
        width:99%;
}

table.weblinks td
{
        border-collapse:collapse;
}

table.weblinks td,
table.category td

{
        padding:7px;
}

table.weblinks th,
table.category th

{
        padding:7px;
        text-align:left
}

td.num
{
        vertical-align:top;
        text-align:left;
}

td.hits
{
        vertical-align:top;
        text-align:center
}

td p
{
        margin:0;
        line-height:1.3em
}

.filter
{
        margin:10px 0
}

.display-limit,
.filter
{
        text-align:right;
        margin-right:7px
}




/* ++++++++++++++  category table  ++++++++++++++ */

table.category th a img
{
        padding:2px 10px
}

.filter-search
{
        float:left;

}
.filter-search .inputbox
{width:6em}


legend.element-invisible
{
        position:absolute;
        /* need margin top and left doesn't work for the legend element */
        margin-left:-3000px;
        margin-top:-3000px;
        height:0px;
}

.cat-items
{
        margin-top:20px
}


/* #################### footer ############################ */

.box {
	text-align:left
	}

.box ul
{
        list-style-type:none
}

#bottom .newsfeed-item
{
        padding:0;
        margin-bottom:10px
}

.box .moduletable_menu,
.box .moduletable
{
        margin:10px
}

.box3
{
        padding-left:10px
}

.box h3
{
        font-size:1.3em
}

#bottom ul.latestnews
{
        padding-left:0
}


p.syndicate
{
        float:left;
        display:block;
        text-align:left;
}


/* ++++++++++++++  Error Message contact form  ++++++++++++++ */
p.error
{
        padding:10px;
}

/* ++++++++++++++  editor  ++++++++++++++ */
.contentpaneopen_edit
{
        float: left;
}

.contentpaneopen_edit img
{

}


a.mceButton:hover  {background:none !important}

/* ++++++++++++++  pagebreak  ++++++++++++++ */
table.contenttoc
{
        padding:10px;
        margin:10px;
}

table.contenttoc tr td
{
        padding:1px 0px
}

.pagenavcounter
{
        font-weight:bold;
}


/* ++++++++++++++  edit  ++++++++++++++ */
legend {
	padding:0;
	}

form#adminForm
{

}

.edit form#adminForm fieldset
{
        padding:20px 15px;
        margin:10px 0 15px 0;
}

.formelm
{
        margin:5px 0
}


.formelm label
{
        width:13em;
        display:block;
        vertical-align:top;
}
img.calendar { margin-left:5px;}
form#adminForm .formelm-area
{
        padding:5px 0
}

form#adminForm .formelm-area label
{
        vertical-align:top;
        display:inline-block;
        width:7.9em;
		margin-left:4px;
}

.formelm-buttons
{
        text-align:right;
        margin-bottom:10px
}
#editor-xtd-buttons { overflow:hidden;}
.button2-left
{
float:left; margin:15px 5px 0 0;
overflow:hidden;
}

a.modal-button,
.button2-left .blank a,
.button2-left a,
.button2-left div.readmore a
{background:#eee;
display:inline-block;
height:16px;
padding:4px !important;
margin:0 !important;
line-height:1.2em; border:solid 1px #ddd;
font-weight:normal; text-decoration:none;}

.button2-left .readmore {padding:0 !important; margin:0; background:none; text-transform:none;}
.button2-left .readmore a:hover {text-decoration:underline;}

/* ++++++++++++++  tooltip  ++++++++++++++ */


.tip
{
        font-size:0.8em;
        text-align:left;
        padding:3px;
        max-width:400px;
		color:#343434;
		background:#efefef;
}

.tip-title
{
        font-weight:bold;
}


/* #################### modules ############################ */

/* ++++++++++++++  newsflash  ++++++++++++++ */

/* newsflash horizontal */
.newsflash-horiz
{
        overflow:hidden;
        list-style-type:none !important;
        margin:0 5px!important;
        padding:20px 10px !important
}

.newsflash-horiz li
{
        float:left;
        width:30%;
        margin:0 1% !important;
        padding:10px 5px;
}

ul.newsflash-horiz li h4
{
    font-size:1.4em;
}

.newsflash-horiz li img
{
    display:block;
    margin-bottom:10px
}

/* newsflash vertical */

.newsflash-vert
{
    padding:0
}


/* ++++++++++++++  latest, popular  ++++++++++++++ */

#nav .module_content ul.latestnews,
#nav .module_content ul.mostread
{
        margin:10px 0 0 0
}

ul.latestnews,
ul.mostread
{
        padding-left:10px;
}

ul.latestnews li a,
ul.mostread li a
{
        padding:2px 2px 2px 15px ;
    display:block;
    text-decoration:none
}


/* ++++++++++++++  newsflash  ++++++++++++++ */
.newsflash
{
    margin:0px;

}

/* ++++++++++++++  newsfeed  ++++++++++++++ */
.newsfeed
{
        padding:0 5px
}

ul.newsfeed
{
        padding:0 !important
}

.newsfeed-item
{
        padding:5px 0 0 0;
        margin:0
}

.newsfeed-item h5 a
{
        font-size:1.1em;
        font-weight:bold !important
}

.feed-item-description img
{margin: 5px 10px 10px 0}

dl.newsfeed-count dt,
dl.newsfeed-count dd
{
        display:inline
}

/* ++++++++++++++  weblinks  ++++++++++++++ */

dl.weblink-count dt,
dl.weblink-count dd
{
        display:inline;
      
}

/* ++++++++++++++  login  ++++++++++++++ */

#login-form
{

}

#login-form fieldset
{
        padding:0px;
  
}

#login-form .inputbox
{
        padding:2px
}

#login-form fieldset.input
{
        padding:10px 0 0 0;
        margin:0px 0 10px 5px
}

#login-form label
{
        margin-right:10px;
        width:8.4em;
        display:block;

}

#form-login-remember label
{
	float:left;
	width:auto;
	display:block;
	line-height:12px;
	
}

.logout-button
{
	margin-top:10px
}




.module_content #form-login-username label,
.module_content #form-login-password label
{
            float:left;
            width:5.2em
}

.login-fields
{
        margin:10px 0
}

.login-fields label
{
        float:left;
        width:9em
}

.login-description img,
.logout-description img
{
        float:left;
        margin-right:20px
}

.login-description,
.logout-description
{
        overflow:hidden;
                padding-left:5px;
                margin:20px 0 10px 0
}

.logout-description
{
        margin-bottom:20px
}



/* ++++++++++++++  tabs/ slide  ++++++++++++++ */
.slide
{
        height:auto !important;

}

ul.tabs
{
    overflow:hidden;
    padding:0 !important;
    margin:0 !important
}

.tabopen ul.newsflash-horiz,
.tabopen ul.newsflash-vert,
.tabopen ul.latestnews
{
    margin:0 !important;
    padding:0 !important;
}

.tabopen ul.newsflash-horiz li,
.tabopen ul.newsflash-vert li
{
    padding:0 6px !important;
}


.module_content
{border:solid 1px #000;
padding:10px}

/* ++++++++++++++  random  ++++++++++++++ */

#right .random-image,
#nav .random-image
{
        margin-top:10px;
        margin-left:10px
}



/* ++++++++++++++  content-module ++++++++++++++ */
.category-module li
{
        padding:5px 0 5px 0
}

.category-module span
{
        display:block;
        font-size:0.85em;
}

.category-module a span
{
        display:inline
}

a.mod-articles-category-title
{
        text-decoration:none;
        font-weight:bold
}



/*-------------------------------*/

.australia
{
        margin:0px 0;
        padding:10px 65px 10px 10px;
}

.australia h3
{
        font-size:1.4em;
}

.australia a
{
        font-weight:bold
}

.australia p
{
        line-height:1.4em
}

/* ###########  Categories list ############ */
#main .categories-listalphabet ul
{
padding:0;
margin:20px 10px 10px 0;
list-style-type:none;
list-style-position:inside
 }
#main .categories-listalphabet ul li
{
display :inline;
padding:5px;
border-right:solid 1px #ddd
}


#main .categories-list ul
{list-style-type:none;
margin:0}

#main .cat-children
{ padding-left:5px
}
#main .cat-children ul dl dt,
#main .cat-children ul dl dd,
#main dl.article-count dt,
#main dl.article-count dd
{ display:inline}

#main .cat-children ul
{list-style-type:none;
 margin:0;
 padding:0;
}
 #main .cat-children ul
 {margin:20px 20px 20px 0;}
  #main .cat-children ul ul
  {margin:20px}

  #main .cat-children ul li
  {margin:10px 0 10px 0}




  /* mod stats  */


    .stats-module dl
    {margin:10px 0 10px 0}
    .stats-module dt
    {float:left;
    margin:0 10px 0 0;
    font-weight: bold;
    }
      .stats-module dt,   .stats-module dd
      {padding:2px 0 2px 0 }
/* syndicate */

a.feed-link
{
margin-top:15px;
display:block;
text-decoration:none
}

.feed-link img
{border:0}

/* pagenav */
#main ul.pagenav {
	list-style-type:none;
	padding:0;
	overflow:hidden
}
ul.pagenav li
{
	display:inline-block;
	padding:0px;
	margin:0;
}
#main ul.pagenav li 
{
	line-height:2em
}
ul.pagenav li a
{
	border:solid 1px #ccc; 
	display:inline; 
	background:#eee; 
	padding:2px; 
	text-decoration:none
}
ul.pagenav li.pagenav-prev 
{float:left}
ul.pagenav li.pagenav-next 
{float:right}

/* mod_languages */

.mod-languages ul li
{display:inline}

/* pagebreak */

#article-index
{
	width:25%;
	float:right; 
	border:solid 1px #eee;
	padding:10px;
	margin: 10px 0px 20px 30px;
	background:#f9faf9
}
#article-index h3
{
	margin:0;
	font-size:1em;


}

#article-index ul
{
	list-style-type:disc;
	color:#666
}


/* mailto window */


#mailto-window 
{
	background:#f5f5f5;
	padding:15px;
	border:solid 1px #ddd;
	position:relative
}
#mailto-window label
{
	width:10em
}

.mailto-close {
	position:absolute; 
	right:0; 
	top:5px; 
	background:none;
	}


.mailto-close a {
	background:#f5f5f5 url(../images/close.png) no-repeat !important;
	min-width:25px; 
	display:block;
	min-height:25px;
	overflow:visible
	}

.mailto-close a span {
	position:absolute;
	left:-3000px;
	top:-3000px;
	display:inline;
	}
#mailto-window .inputbox {
	background:url("../images/content_bg.gif") repeat-x scroll 0 0 #FFFFFF;
	border:1px solid #ccc;
	padding:3px;
	}

#mailto-window p {
	margin-top:20px;
	}

#mailto-window button
{
	margin:0 5px 0 0
}


span.spacer > span.text label {
	white-space: nowrap;
}
.red {
	font-weight: bold;
	color: #c00;
}

.star {
	color:#e8574c;
}



/* Containers
----------------------------------------------------------------------------------------------------*/
.container_24 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,
.grid_17,
.grid_18,
.grid_19,
.grid_20,
.grid_21,
.grid_22,
.grid_23,
.grid_24 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 24 Columns
----------------------------------------------------------------------------------------------------*/

.container_24 .grid_1 {
	width:40px;
}

.container_24 .grid_2 {
	width:80px;
}

.container_24 .grid_3 {
	width:120px;
}

.container_24 .grid_4 {
	width:160px;
}

.container_24 .grid_5 {
	width:200px;
}

.container_24 .grid_6 {
	width:240px;
}

.container_24 .grid_7 {
	width:280px;
}

.container_24 .grid_8 {
	width:320px;
}

.container_24 .grid_9 {
	width:360px;
}

.container_24 .grid_10 {
	width:400px;
}

.container_24 .grid_11 {
	width:440px;
}

.container_24 .grid_12 {
	width:480px;
}

.container_24 .grid_13 {
	width:520px;
}

.container_24 .grid_14 {
	width:560px;
}

.container_24 .grid_15 {
	width:600px;
}

.container_24 .grid_16 {
	width:640px;
}

.container_24 .grid_17 {
	width:680px;
}

.container_24 .grid_18 {
	width:720px;
}

.container_24 .grid_19 {
	width:760px;
}

.container_24 .grid_20 {
	width:800px;
}

.container_24 .grid_21 {
	width:840px;
}

.container_24 .grid_22 {
	width:880px;
}

.container_24 .grid_23 {
	width:920px;
}

.container_24 .grid_24 {
	width:960px;
}



/* Prefix Extra Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/

.container_24 .prefix_1 {
	padding-left:40px;
}

.container_24 .prefix_2 {
	padding-left:80px;
}

.container_24 .prefix_3 {
	padding-left:120px;
}

.container_24 .prefix_4 {
	padding-left:160px;
}

.container_24 .prefix_5 {
	padding-left:200px;
}

.container_24 .prefix_6 {
	padding-left:240px;
}

.container_24 .prefix_7 {
	padding-left:280px;
}

.container_24 .prefix_8 {
	padding-left:320px;
}

.container_24 .prefix_9 {
	padding-left:360px;
}

.container_24 .prefix_10 {
	padding-left:400px;
}

.container_24 .prefix_11 {
	padding-left:440px;
}

.container_24 .prefix_12 {
	padding-left:480px;
}

.container_24 .prefix_13 {
	padding-left:520px;
}

.container_24 .prefix_14 {
	padding-left:560px;
}

.container_24 .prefix_15 {
	padding-left:600px;
}

.container_24 .prefix_16 {
	padding-left:640px;
}

.container_24 .prefix_17 {
	padding-left:680px;
}

.container_24 .prefix_18 {
	padding-left:720px;
}

.container_24 .prefix_19 {
	padding-left:760px;
}

.container_24 .prefix_20 {
	padding-left:800px;
}

.container_24 .prefix_21 {
	padding-left:840px;
}

.container_24 .prefix_22 {
	padding-left:880px;
}

.container_24 .prefix_23 {
	padding-left:920px;
}



/* Suffix Extra Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/

.container_24 .suffix_1 {
	padding-right:40px;
}

.container_24 .suffix_2 {
	padding-right:80px;
}

.container_24 .suffix_3 {
	padding-right:120px;
}

.container_24 .suffix_4 {
	padding-right:160px;
}

.container_24 .suffix_5 {
	padding-right:200px;
}

.container_24 .suffix_6 {
	padding-right:240px;
}

.container_24 .suffix_7 {
	padding-right:280px;
}

.container_24 .suffix_8 {
	padding-right:320px;
}

.container_24 .suffix_9 {
	padding-right:360px;
}

.container_24 .suffix_10 {
	padding-right:400px;
}

.container_24 .suffix_11 {
	padding-right:440px;
}

.container_24 .suffix_12 {
	padding-right:480px;
}

.container_24 .suffix_13 {
	padding-right:520px;
}

.container_24 .suffix_14 {
	padding-right:560px;
}

.container_24 .suffix_15 {
	padding-right:600px;
}

.container_24 .suffix_16 {
	padding-right:640px;
}

.container_24 .suffix_17 {
	padding-right:680px;
}

.container_24 .suffix_18 {
	padding-right:720px;
}

.container_24 .suffix_19 {
	padding-right:760px;
}

.container_24 .suffix_20 {
	padding-right:800px;
}

.container_24 .suffix_21 {
	padding-right:840px;
}

.container_24 .suffix_22 {
	padding-right:880px;
}

.container_24 .suffix_23 {
	padding-right:920px;
}



/* Push Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/

.container_24 .push_1 {
	left:40px;
}

.container_24 .push_2 {
	left:80px;
}

.container_24 .push_3 {
	left:120px;
}

.container_24 .push_4 {
	left:160px;
}

.container_24 .push_5 {
	left:200px;
}

.container_24 .push_6 {
	left:240px;
}

.container_24 .push_7 {
	left:280px;
}

.container_24 .push_8 {
	left:320px;
}

.container_24 .push_9 {
	left:360px;
}

.container_24 .push_10 {
	left:400px;
}

.container_24 .push_11 {
	left:440px;
}

.container_24 .push_12 {
	left:480px;
}

.container_24 .push_13 {
	left:520px;
}

.container_24 .push_14 {
	left:560px;
}

.container_24 .push_15 {
	left:600px;
}

.container_24 .push_16 {
	left:640px;
}

.container_24 .push_17 {
	left:680px;
}

.container_24 .push_18 {
	left:720px;
}

.container_24 .push_19 {
	left:760px;
}

.container_24 .push_20 {
	left:800px;
}

.container_24 .push_21 {
	left:840px;
}

.container_24 .push_22 {
	left:880px;
}

.container_24 .push_23 {
	left:920px;
}



/* Pull Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/

.container_24 .pull_1 {
	left:-40px;
}

.container_24 .pull_2 {
	left:-80px;
}

.container_24 .pull_3 {
	left:-120px;
}

.container_24 .pull_4 {
	left:-160px;
}

.container_24 .pull_5 {
	left:-200px;
}

.container_24 .pull_6 {
	left:-240px;
}

.container_24 .pull_7 {
	left:-280px;
}

.container_24 .pull_8 {
	left:-320px;
}

.container_24 .pull_9 {
	left:-360px;
}

.container_24 .pull_10 {
	left:-400px;
}

.container_24 .pull_11 {
	left:-440px;
}

.container_24 .pull_12 {
	left:-480px;
}

.container_24 .pull_13 {
	left:-520px;
}

.container_24 .pull_14 {
	left:-560px;
}

.container_24 .pull_15 {
	left:-600px;
}

.container_24 .pull_16 {
	left:-640px;
}

.container_24 .pull_17 {
	left:-680px;
}

.container_24 .pull_18 {
	left:-720px;
}

.container_24 .pull_19 {
	left:-760px;
}

.container_24 .pull_20 {
	left:-800px;
}

.container_24 .pull_21 {
	left:-840px;
}

.container_24 .pull_22 {
	left:-880px;
}

.container_24 .pull_23 {
	left:-920px;
}




/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}