/* ------------------------------------- module-category --- */
.contacts .module-category { display:none;}
.module-category { position:relative; background:none; overflow:hidden; width:100%; margin:0; padding:0px 0 0 0; margin-bottom:3px;}
.module-category h3 {text-transform:none; color:#000; font:normal 26px/30px Arial, Helvetica, sans-serif; font-family: 'Playball', cursive; padding:0px 0 0px 0px; margin:0; border:none; background:none;}
.module-category .boxIndent { background:none; border-radius:0; position:relative; padding:8px 0 10px 0;}

.module-category .list { margin:0!important; padding:0; list-style-type:none;}
.module-category .list li { font:normal 13px/24px Arial, Helvetica, sans-serif; font-family: 'Droid Sans', sans-serif; float:none; position:relative; padding:0px 0 0px 0px; height:auto; background:none; text-transform:none; }
.module-category .list li:first-child { background:none; margin-top:0px; border:none;}
.module-category .list li a { color:#969696; text-decoration:none; padding:0; padding-left:15px; display:block; background:url(../images/foot-marker2.gif) left 10px no-repeat;}
.module-category .list li a:hover, .module-category .list li.active a{ color:#000; font-weight:bold;}

.module-category .list ul { padding:0; padding-bottom:0px!important; margin:0!important;  border:none; display:none; list-style:none;}

.module-category .list .level1 li { background:#fff; padding-left:15px; border:none;}
.module-category .list .level1 li:first-child { background:none; margin-top:0;}
.module-category .list .level1 li a { font-weight:normal; padding-left:16px; color:#9c9c9c;}
.module-category .list .level1 li a:hover , .module-category .list .level1 li.active a { font-weight:bold; color:#000;}

.module-category .list .level1 .level2 li { background:#fff;}
.module-category .list .level1 .level2 li:first-child { background:none; margin-top:0;}
.module-category .list .level1 .level2 li a { font-weight:normal; padding-left:16px; color:#9c9c9c;}
.module-category .list .level1 .level2  li:hover a , .module-category .list .level1 .level2  li.active a { font-weight:bold; color:#000;}

.module-category li.parent ul {display:none;}
.module-category li.parent ul.active {display:block;}

.VmArrowdown {background-position: right 0; height:16px; width:16px; float:none; position:absolute; right:0; top:1px; padding:0; }
/* ------------------------------------- end module-category --- */

/* ------------------------------------- module_special --- */

.module_none { display:none;}
/* ------------------------------------- end module_special--- */

/* ------------------------------------- module_new --- */
.module_new  { overflow:hidden; padding:0; position:relative;   width:100%;}
.module_new  h3 {  text-transform:uppercase; color:#3c3c3c; font:normal 14px/40px Arial, Helvetica, sans-serif; padding:8px 0 6px 0; margin:0; border:none;}
.module_new h3 em { font-style:normal; font-weight:normal; color:#88cdca;}

.module_new  .boxIndent { background:none; border-radius:0; position:relative; padding:0;}
.vmgroup_new  ul { margin-bottom:-19px; padding-left:80px; padding-top:3px;}
.vmgroup_new  ul li                   { display: block; float: none; padding: 0 0 19px 0; min-height: auto; width: 100%; overflow:hidden; margin: 0 0 0 0; border:none; background:none;}
.vmgroup_new  ul li  .product-box      { border:1px solid #dadada; width:298px; text-align:left; float:left; min-height:0px; margin-left:20px; margin-bottom:0px; padding:0 0 0 0; background:none; position:relative; border-radius:0px;}
.vmgroup_new  ul li  .product-box:first-child { margin-left:0;}

.module_new .sale { width:75px; height:75px; background:url(../images/sale.png) left top  no-repeat; position:absolute; right:35px; top:25px;}
.vmgroup_new   ul li .browseImage { text-align:center; width:100%;padding-top:14px;background:#fff; margin:0 auto; position:relative; }
.vmgroup_new   ul li .browseImage img { text-align:center; width:270px; height:218px;}

.vmgroup_new   ul li .cat {margin:0 0 0 0; text-align:left; padding:11px 0 0 17px; margin-bottom:-1px; display:none;}
.vmgroup_new   ul li.items .cat {margin:0 0 0 0; text-align:left; padding:15px 0 0 17px; margin-bottom:-1px;}

.vmgroup_new   ul li .cat a { color:#a0a0a0; font:normal 16px/22px Arial, Helvetica, sans-serif; text-decoration:none; display:inline-block; text-transform:none;}
.vmgroup_new   ul li .cat a:hover { color:#121212; text-decoration:none;}


.vmgroup_new   ul li .Title {margin:0 0 0 0; text-align:left; padding:22px 30px 0 39px; min-height:36px;}
.vmgroup_new   ul li .Title a { color:#969696; font:normal 13px/18px Arial, Helvetica, sans-serif; font-family: 'Droid Sans', sans-serif; text-decoration:none; display:block; text-transform:none;}
.vmgroup_new   ul li .Title a:hover { color:#a1061b; text-decoration:none;}

.module_new  .Details { float:right; width:66px; padding-top:11px; padding-bottom:24px; float:right; margin-right:37px;}
.module_new  .Details a { font:normal 12px/24px Arial, Helvetica, sans-serif; font-family: 'Droid Sans', sans-serif; text-transform:lowercase; display:inline-block; background:url(../images/det-button.png) left top no-repeat; color:#3f3f3f; width:60px; height:25px; text-align:center; text-decoration:none;border-radius:0px;}
.module_new  .Details a:hover { background-position:left bottom; color:#fff;}

.vmgroup_new  ul li .Price .WithoutTax , .vmgroup_new  ul li .Price .discount { display:none;}


.vmgroup_new  ul li .Price { color:#000; font:normal 20px/30px Arial, Helvetica, sans-serif; font-family: 'Droid Sans', sans-serif;  border-bottom:none; text-align:left; padding:8px 7px 0 39px;   z-index:99; float:left;}

.description p { color:#afafaf; font:normal 13px/20px Arial, Helvetica, sans-serif; margin:0; padding:2px 0 2px 0; text-align:center; }

#content .module_new  .quantity-box , .module_new  .quantity-controls , .module_new  .product-fields { display:none;}
#content .module_new  .addtocart-area2 { width:90px; margin:0 auto; padding-top:7px; padding-left:19px; float:right;}
#content .module_new  .addtocart-bar2 span.addtocart-button { width:90px; height:26px; background:#b6b6b6; display:inline-block; padding:0; margin:0; border-radius:2px; border:none; font-size:0; cursor:pointer;}
#content .module_new  .addtocart-bar2 input.addtocart-button {width:90px; height:26px; display:inline-block; background:none!important; border:none;padding:0; margin:0; border-radius:0; border:none; font:bold 12px/24px Arial, Helvetica, sans-serif!important; color:#fff; text-transform:lowercase; letter-spacing:0; text-align:center; }
#content .module_new  .addtocart-bar2 .addtocart-button:hover {background:#000;}

@-moz-document url-prefix() {
  #content .module_new  .addtocart-bar2 input.addtocart-button { padding-bottom:2px;}
}

/* ------------------------------------- end module_new --- */
.module_new2  { overflow:hidden; padding:4px 0 0 0; position:relative; width:100%;}
.module_new2  h3 {  text-transform:none; color:#000; font:normal 26px/30px Arial, Helvetica, sans-serif; font-family: 'Playball', cursive; padding:0px 0 0px 0px; margin:0; border:none; background:none;}
.module_new2 h3 em { font-style:normal; font-weight:normal; color:#88cdca;}

.module_new2  .boxIndent { background:none; border-radius:0; position:relative; padding:11px 0 0 0;}
.vmgroup_new2  ul { margin-bottom:-11px;}
.vmgroup_new2  ul li                   { display: block; float: none; padding: 0 0 11px 0; min-height: auto; width: 100%; overflow:hidden; margin: 0 0 0 0; border:none; background:none; border-top:none; }
.vmgroup_new2  ul li  .product-box      { border:none; width:220px; text-align:left; float:left; min-height:0px; margin-left:0px; margin-bottom:0px; padding:12px 0 8px 0px; background:none; position:relative;}

.new { display:none;}
.vmgroup_new2   ul li .browseImage { text-align:center; width:85px; border:none; padding-top:0px; position:relative; float:left; margin-right:20px; background:none;}
.vmgroup_new2   ul li .browseImage img { text-align:center; width:85px; height:70px; background:#333;}

.vmgroup_new2   ul li .cat {margin:0 0 0 0; text-align:left; padding:11px 0 0 0px; margin-bottom:-1px; display:none;}

.vmgroup_new2   ul li .cat a { color:#a0a0a0; font:normal 16px/22px Arial, Helvetica, sans-serif; text-decoration:none; display:inline-block; text-transform:none;}
.vmgroup_new2   ul li .cat a:hover { color:#121212; text-decoration:none;}

.vmgroup_new2 .fleft { float:left; width:96px;}
.vmgroup_new2   ul li .Title {margin:0 0 0 0; text-align:left; padding:15px 0px 0 0px; min-height:28px;}
.vmgroup_new2   ul li .Title a { color:#575656; font:normal 13px/16px Arial, Helvetica, sans-serif; font-family: 'Droid Sans', sans-serif; text-decoration:none; display:block; text-transform:none;}
.vmgroup_new2   ul li .Title a:hover { color:#a1061b; text-decoration:none;}

.module_new2  .Details { float:right; width:66px; padding-top:7px; float:left; margin-left:6px;}
.module_new2  .Details a { font:bold 12px/24px Arial, Helvetica, sans-serif; text-transform:lowercase; display:inline-block; background:none; color:#a2a2a2; width:64px; height:24px; text-align:center; text-decoration:none; border:1px solid #d1d1d1; border-radius:2px;}
.module_new2  .Details a:hover { background:#000; color:#fff;border:1px solid #000;}

.vmgroup_new2  ul li .Price .WithoutTax , .vmgroup_new2  ul li .Price .discount { display:none;}


.vmgroup_new2  ul li .Price { color:#a1061b; font:normal 13px/16px Arial, Helvetica, sans-serif; font-family: 'Droid Sans', sans-serif;  border-bottom:none; text-align:left; padding:8px 7px 0 0px;   z-index:99; float:left;}

.description p { color:#afafaf; font:normal 13px/20px Arial, Helvetica, sans-serif; margin:0; padding:2px 0 2px 0; text-align:center; }

#content .module_new2  .quantity-box , .module_new2  .quantity-controls , .module_new2  .product-fields { display:none;}
#content .module_new2  .addtocart-area2 { width:90px; margin:0 auto; padding-top:7px; padding-left:19px; float:left;}
#content .module_new2  .addtocart-bar2 span.addtocart-button { width:90px; height:26px; background:#b6b6b6; display:inline-block; padding:0; margin:0; border-radius:2px; border:none; font-size:0; cursor:pointer;}
#content .module_new2  .addtocart-bar2 input.addtocart-button {width:90px; height:26px; display:inline-block; background:none!important; border:none;padding:0; margin:0; border-radius:0; border:none; font:bold 12px/24px Arial, Helvetica, sans-serif!important; color:#fff; text-transform:lowercase; letter-spacing:0; text-align:center; }
#content .module_new2  .addtocart-bar2 .addtocart-button:hover {background:#000;}

@-moz-document url-prefix() {
  #content .module_new2  .addtocart-bar2 input.addtocart-button { padding-bottom:2px;}
}


/* ------------------------------------- module_special slider --- */
/*
    anythingSlider v1.0
    
    By Chris Coyier: http://css-tricks.com
    with major improvements by Doug Neiner: http://pixelgraphics.us/
    based on work by Remy Sharp: http://jqueryfordesigners.com/
*/

.wrapper-slide { overflow:hidden;}
#slider {
	width: 720px;
	height: 580px;
	list-style: none;
	/* Prevent FOUC (see FAQ page) and keep things readable if javascript is disabled */
	overflow-y: auto;
	overflow-x: hidden;
}

/***********************
  COMMON SLIDER STYLING
 ***********************/
/* Overall Wrapper: 45px right & left padding for the arrows, 28px @ bottom for navigation */
div.anythingSlider {
	display: block;
	margin: 0 auto;
	overflow: visible !important; /* needed for Opera and Safari */
	position: relative;
	padding: 0;
	margin-left:-10px;
}
/* anythingSlider viewport window */
div.anythingSlider .anythingWindow {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
/* anythingSlider base (original element) */
.anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	overflow: visible !important;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
/* all panels inside the slider */
.anythingBase .panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
}
.anythingBase .panel.vertical {
	float: none;
}

/* hide text, target the span so IE7 doesn't text-indent the link */
#slider li                   { display: block; float: left; padding: 0; min-height: 550px; width: 720px; margin: 0 0 0 0px; border:none; overflow:hidden; }
#slider ul li  .product-box      { border:1px solid #eee; width:228px; text-align:left; float:left; min-height:262px; margin:0; margin-right:10px; margin-bottom:10px; padding:6px 0 0 0;

}
.anythingSlider .arrow                  { display: block; height: 30px; width: 30px; background: url(../images/virtuemart/arrows.png) no-repeat 0 0; text-indent: -9999px; position: absolute; bottom: 1px; cursor: pointer; }
.anythingSlider .forward                { background-position: right bottom; right: 10px; }
.anythingSlider .back                   { background-position: left top; left: 10px; }
.anythingSlider .forward:hover          { background-position: right top; }
.anythingSlider .back:hover             { background-position: left  bottom; }

.anythingSlider .thumbNav                               { position: absolute; right:20px; top: -58px; text-align: center; overflow:hidden; width:auto; }
.anythingSlider .thumbNav li { margin:0; padding:0; float:left; width:19px; height: 36px;margin-left:3px;}
.anythingSlider .thumbNav a                             { text-indent:-9999px; display:inline-block; padding:0;  width:19px; height: 36px; margin: 0 0 0 0; text-align: center; text-decoration:none;
background:url(../images/virtuemart/bullets.png) right top no-repeat;  }
.anythingSlider .thumbNav a:hover , .anythingSlider .thumbNav a.cur                       { background-position:left top; }

.start-stop                             { color: #575656; font:normal 13px/28px Arial, Helvetica, sans-serif; padding: 2px 5px; width: 40px; text-align: center; position: absolute; right: 45px; bottom:-4px; 
text-decoration:none; display:block; }
#start-stop.playing  , #start-stop:hover    { text-decoration: underline; }

/*
  Prevents
*/
.anythingSlider .wrapper-box ul ul          { position: static; margin: 0; background: none; overflow: visible; width: auto; border: 0; }
.anythingSlider .wrapper-box ul ul li       { float: none; height: auto; width: auto; background: none; }

/* ------------------------------------- end module_special slider --- */

